body {
    font-family: 'Patua One', cursive;
}

.stroke-text {
    -webkit-text-stroke: 0.1px #4f4f4f;
}



.img-background {
    background-image: url('./assets/background/giphy.gif');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: center center;

}
